<% provide(:title, " | Download") %>
<h3 style="font-size:18px;" id="spin">This page is for administrators only, if you are interested in downloading for research, please contact us!</h3>

<div class='inlinebox' id='ready'>
<div>
<ul class='pwbox1'>
<li><div class="in-box" onclick="onClick(10)"></div></li>
<li><div class="in-box"></div></li>
<li><div class="in-box" onclick="onClick(100)"></div></li>
</ul>
<ul class='pwbox1'>
<li><div class="in-box"></div></li>
<li><div class="in-box" onclick="onClick(1)"></div></li>
<li><div class="in-box"></div></li>
</ul>
<ul class='pwbox1'>
<li><div class="in-box" onclick="onClick(1000)"></div></li>
<li><div class="in-box"></div></li>
<li><div class="in-box" onclick="onClick(10000)"></div></li>
</ul>
</div>
<div style="width:100px;height: 300px;"></div>
<div>
<ul class='pwbox1'>
<li><div class="in-box"></div></li>
<li><div class="in-box" onclick="onClick(100000)"></div></li>
<li><div class="in-box"></div></li>
</ul>
<ul class='pwbox1'>
<li><div class="in-box"></div></li>
<li><div class="in-box" onclick="onClick(1000000)"></div></li>
<li><div class="in-box"></div></li>
</ul>
<ul class='pwbox1'>
<li><div class="in-box"></div></li>
<li><div class="in-box" onclick="onClick(10000000)"></div></li>
<li><div class="in-box"></div></li>
</ul>
</div>
</div>

<script type="text/javascript" src="application.js">
</script>