<!--footer-->


<div id="footer"><!--footer content-->
  <div class="footerContent"><!--footer left column-->
    <div class="footerLeftCol"><!--footer search field-->
     
      <!--end of footer search field-->
      <!--footer left content-->
      <div class="footerLeftC">&copy; 2015 Case Western Reserve University, Cleveland, Ohio 44106, 216.368.2000 (<a href="http://www.case.edu/legal.html">legal notice</a>)</div>
    </div>
    <!--end of footer left content-->
    <!--end of footer left column-->
    <!--footer middle column-->

</div><!--end of footer-->
</div>